.home-container{
    display: flex;
    flex-direction: column;
    position: relative;
    height: screen;
    width: 100%;
}

.home-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    width: 100%;
}